.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #000000;
}

.header__logo img {
    height: 40px;
}

.search-area {
    color: #000000;
    display: block;
}

.search-input {
    padding: 8px 8px 8px 36px;
    border-radius: 6px;
    width: 500px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 50px;
}

.action-link {
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.action-link:hover {
    color: #ffffff;
}

.btn-primary {
    background-color: #ffffff;
    color: #000000;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #000000;
}