.tab-navigation {
    display: flex;
    margin-top: 40px;
    padding: 10px 200px;
    gap: 40px;
    align-items: center;
}

.tab-item {
    text-decoration: none;
    color: #5F5F5F;
    font-weight: bold;
    font-size: 24px;
    width: 155px;
    height: 40px;
    text-align: center;
    margin-left: 40px;
}

.tab-item.active {
    color: #FF0000;
}

.tab-underline {
    border: 0;
    border-top: 5px solid #ddd;
    margin-top: 0;
}

.main-content {
    display: flex;
    justify-content: center;
}

.item-contents {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 30px;
    justify-content: flex-start;
}

.item-content {
    margin: 3px;
    width: 290px;
    position: relative;
    margin: 30px;
}

.item-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.img-content {
    width: 290px;
    height: 281.27px;
}

.detail-content {
    display: flex;
    position: relative;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.item-name {
    font-size: 25px;
    line-height: 20px;
    width: 290px;
}