.container {
    max-width: 1400px;
    width: 90%;
    margin: auto;
}

.tab-navigation {
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding: 5px 100px;
    gap: 40px;
    align-items: center;
    border-bottom: 3px solid #ddd;
}

.tab-item {
    text-decoration: none;
    color: #5F5F5F;
    font-weight: bold;
    font-size: 24px;
    width: 155px;
    height: 40px;
    text-align: center;
    margin-left: 40px;
}

.tab-item.active {
    color: #FF0000;
}

.item-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 通常は3列 */
    gap: 20px;
    /* アイテム間の隙間 */
    width: 100%;
    margin-top: 40px;
}

@media screen and (min-width: 1400px) {
    .item-contents {
        grid-template-columns: repeat(4, 1fr);
        /* 4列に変更 */
        gap: 20px;
        /* 画面が広いので少し隙間を広げると見栄えが良くなります */
    }
}

.item-content {
    position: relative;
}

.item-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.img-content {
    width: 100%;
    aspect-ratio: 1 / 1;
    /* 正方形を維持 */
    object-fit: cover;
    display: block;
}

.detail-content {
    display: flex;
    position: relative;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.item-name {
    font-size: 25px;
    line-height: 20px;
    width: 290px;
}

.sold-label {
    position: absolute;
    right: 0;
    font-size: 20px;
    color: #FF0000;
    font-weight: bold;
}