.item-detail-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 60px;
}

.item-image-section {
    flex: 1;
    text-align: center;
}

.item-image-section img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

.item-info-section {
    flex: 1;
}

.item-name {
    font-size: 45px;
    font-weight: bold;
    margin: auto;
}

.item-brand {
    font-size: 16px;
    margin: auto;
}

.item-price {
    font-size: 30px;
}

.item-stats {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.item-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.item-stat button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.buy-button,
.comment-submit {
    width: 100%;
    background-color: #ff5555;
    color: #ffffff;
    border: none;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 30px;
}

.item-description h2,
.item-details-table h2,
.comment-section h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
}

.item-description-text {
    font-size: 24px;
    line-height: 1.6;
}

.detail-row {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.detail-label {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.detail-value-tag {
    display: inline-block;
        padding: 4px 12px;
        border: 1px solid #D9D9D9;
        border-radius: 20px;
        background-color: #D9D9D9;
        color: #000000;
        font-size: 14px;
        margin-right: 5px;
}

.detail-value {
    font-size: 20px;
}

.comment-item {
    margin-bottom: 20px;
}

.comment-user {
    width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #d9d9d9;
        overflow: hidden;
}

.comment-user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-text {
    font-size: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 4px;
}

.comment-form-label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.comment-form textarea {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

